ul,li{
    list-style-type:none;
}

.sortable-list{
    cursor: pointer;
}

.sortable-list .list-item-root {
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.sortable-list .list-item-root *{
    pointer-events:none;
}

.sortable-list .list-item-root.dragstart{
    opacity: 0.5;
}  

.sortable-list .list-item-root.dragover{
    transform: scale(1.02);
    border-color: rgba(255, 255, 255, 0.1);
    background:linear-gradient(131.33deg, rgba(255, 255, 255, 0.4) 18.45%, rgba(255, 255, 255, 0.1) 73.67%);
    backdrop-filter: blur(20px);
    box-shadow: 0px 3.58195px 22.3872px -2.68646px rgb(0 0 0 / 20%);
}