.list-item-root-container {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.list-item-root-container * {
  pointer-events: none;
}

.list-item-root-container.dragstart {
  opacity: 0.5;
}

.list-item-root-container.dragover {
  transform: scale(1.02);
  backdrop-filter: blur(20px);
  box-shadow: 0px 3.58195px 22.3872px -2.68646px rgb(var(
          --rm-audio-player-shadow,
          0 0 0
        ) / 20%);
}

.list-item-inner {
  display: flex;
  align-items: center;
}
