.volume-content-container {
  position: relative;
  height: 119px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-content-container[data-placement="top"] {
  bottom: auto;
}

.volume-content-container[data-placement="left"] {
  transform: rotate(-90deg);
  right: 50px;
}

.volume-content-container[data-placement="right"] {
  transform: rotate(90deg);
  left: 50px;
}

.volume-content-container[data-placement="bottom"] {
  transform: rotateX(180deg);
  top: 5px;
}

.volume-content-container .volume-panel-wrapper {
  width: 30px;
  background-color: var(--rm-audio-player-volume-panel-background);
  border: 1px solid var(--rm-audio-player-volume-panel-border);
  border-radius: 5px;
  height: 118px;
  box-shadow: 0 2px 4px rgb(var(--rm-audio-player-shadow, 0 0 0) / 10%);
  position: absolute;
  bottom: 5px;
}

.volume-content-container .volume-panel-wrapper:before {
  content: "";
  bottom: -10px;
  left: 7.9px;
  border-color: transparent transparent
    var(--rm-audio-player-volume-panel-border)
    var(--rm-audio-player-volume-panel-border);
  border-style: solid;
  border-width: 5px;
  box-shadow: -3px 3px 4px rgb(var(--rm-audio-player-shadow, 0 0 0) / 10%);
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  pointer-events: none;
  z-index: 0;
}

.volume-content-container .volume-panel-wrapper:after {
  content: "";
  bottom: -8px;
  left: 9px;
  border-color: transparent transparent
    var(--rm-audio-player-volume-panel-background)
    var(--rm-audio-player-volume-panel-background);
  border-style: solid;
  border-width: 4px;
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  pointer-events: none;
}

.volume-content-container input[type="range"] {
  margin-left: 14px;
  position: absolute;
  display: block;
  top: -45px;
  left: 0;
  height: 2px;
  width: 92px;
  -webkit-appearance: none;
  background-color: var(--rm-audio-player-volume-background);
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

.volume-content-container input:focus:not(:focus-visible) {
  outline-color: transparent;
}

.volume-content-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  overflow: visible;
  background: var(--rm-audio-player-volume-thumb);
}

.volume-content-container input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 12px;
  overflow: visible;
  background: var(--rm-audio-player-volume-thumb);
  border: none;
}

.volume-content-container input::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  overflow: visible;
  color: transparent;
  cursor: pointer;
  border-radius: 2%/50%;
  border-color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-image: linear-gradient(
    90deg,
    var(--rm-audio-player-volume-fill) var(--rm-audio-player-volume-value),
    var(--rm-audio-player-volume-track) var(--rm-audio-player-volume-value)
  );
}

.volume-content-container input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  overflow: visible;
  color: transparent;
  cursor: pointer;
  border-radius: 2%/50%;
  border-color: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-image: linear-gradient(
    90deg,
    var(--rm-audio-player-volume-fill) var(--rm-audio-player-volume-value),
    var(--rm-audio-player-volume-track) var(--rm-audio-player-volume-value)
  );
}
