.interface-container .interface-grid {
  background: var(--rm-audio-player-interface-container);
  padding: 0.5rem 10px;
}

.interface-container .sortable-play-list {
  background: var(--rm-audio-player-sortable-list);
  box-shadow: -5px 2px 4px 0px rgb(var(--rm-audio-player-shadow, 0 0 0) / 4%)
    inset;
}
