.waveform-wrapper {
  display: flex;
  width: 100%;
}

.waveform-wrapper[data-active="false"] {
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.waveform-wrapper #rm-waveform {
  width: 100%;
  overflow: hidden;
}

.waveform-wrapper #rm-waveform wave {
  cursor: pointer !important;
  overflow-x: hidden !important;
}
